body{
    background-color: #85ade2;
    margin: 15px;
}
article{
    background-color: rgb(172, 172, 172);
    margin: 2px;
    border-style:outset;
    width: 500px;
    padding: 5px;
}
iframe{
    margin: 2px;
}
